<header>
  <div class="container">
    <div>
      <a routerLink="/" class="logo">Logo</a>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashnoard">John</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/order">Order</a>
            <a routerLink="/logout">Log-out</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span>3</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</header>
